body {
    background-color: dodgerblue;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
p {
    font-family: Impact, Charcoal, sans-serif;
}
input {
    text-align: right;
}
h3 {
    font-family: Impact, Charcoal, sans-serif;
    color: white;
}