body {
    background-color: dodgerblue;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
    border: 4 px solid red;
    border-radius: 8px;
}
p {
    font-family: Impact, Charcoal, sans-serif;
    border-style: dashed;
    border-width: 2px;
    border-color: red;
    border-radius: 8px;
}
input {
    text-align: right;
}
h3 {
    font-family: Impact, Charcoal, sans-serif;
    color: white;
}